<div>
<label>Title</label>
<input type="text" name="title" value="Enter the title">
</div>
<div>
<label>Category</label>
<select name="author">
    <% authors.forEach(author => {%>
        <% if(author.id === book.author){ %>
            <option selected label = "<%= author.name %>" value="<%= author.name %>"></option>
                <% } else { %>  
            <option label = "<%= author.name %>" value="<%= author.name %>"></option>
        <% } %> 
    <% })  %> 
</select>
</div>
<div>
    <label>Image</label>
    <input type="file" name="cover">
</div>
<div>
        <label>Description</label>
        <textarea  name="description"><%= book.description %></textarea>
</div>
<div>
    <label>Link</label>
    <input type="text" name="link" value="Enter a link">
</div>
<label >Language</label>

<select name="language">
  <option value="english">English</option>
  <option value="bangla">Bangla</option>
  <option value="Hindi">Hindi</option>
</select>