<div>

    <img height="150" width="100" src="https://res.cloudinary.com/dz9xduywu/image/upload/<%= meh.coverImageName  %>.png">
    <br>
    
    <p> Name :  <%= meh.title  %> </p>
    <br>
    <br>

    <p> Category : <%= meh.author %> </p>
    <br>
    <br>

    <p> Language : <%= meh.language  %> </p>

    <br>
    <br>

    <p> Description : <%= meh.description %> </p>
    <br>
    <br>

    <a target= empty href="<%= meh.link  %> "> <button> Open in Youtube </button></a>
</div>
